* {
    cursor: url('../vampire/bloodyHand_burned.png'), pointer;
    } 


.flash{
    font-size: 8em;
    text-align: center;
    margin-top:-17%;

  
}

.popcenter{
   
    color : white;
    text-align: center;
}
.sangcss{
    margin-left: 12px;
    

}


.citr{
margin-top:-50%;
position: absolute;


}



