.wrapper{
    border: solid 0.5em red;
    width: 50%;
    height: 40%;
    position: absolute;
    left: 25%;
    background-color: black;
    font-size: 1.15em;
    font-family: "Creepster";
  
  
}

.submit{
 
    background-color: black;
}

* {
    cursor: url('../vampire/bloodyHand_burned.png'), pointer;
    } 

