
.wrap{
    text-align: center;
    position: relative;
    color : black;
    margin-top : 1%;
    font-size: 1em;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

.titreQ{
    font-size: 4em;
    margin-top : -18%;
    font-family: 'Creepster', cursive;
}

label{
    font-size: 1.40em;
    
}

.parchemin{
    position: absolute; 
    margin-top : -10%;
    text-align: center;

    

}

.quizdoc {
    position: relative;
    margin-top: -53%;
}

#answers
{margin : auto;
color : white;
display: block;
word-break: break-word;
width : 380px;
margin-top: 10%;
margin-bottom: 2%;
font-size: 1.5em;}