.flash{
    font-size: 8em;
    text-align: center;
    margin-top:-18%;

  
}

.popcenter{
   
    color : white;
    text-align: center;
}
.sangcss{
    margin-left: 12px;
    

}


.citr{
margin-top:-90%;
position: absolute;


}


@media screen and (max-width:1835px){
    .popcenter {
        position: fixed;
        left : 1%;
    }
}

