
* {
    cursor: url('./components/vampire/bloodyHand_burned.png'), pointer;
    } 

body{
    font-family: 'Architects Daughter', cursive;

    background-color: black;

    height: 100%;
    width: 100%;
    animation-name: flash;
    animation-duration: .50s;
    animation-iteration-count: 6;
    animation-direction: alternate;


    
}

@keyframes flash {
    1% {background-color: white;}
    20% {background-color: black;}
   
  }

body{
    background-color: black;
}

